Flask==2.0.3
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
Flask-Migrate==3.1.0
Jinja2==3.0.3
MarkupSafe==2.0.1
SQLAlchemy==1.4.46
WTForms==2.3.3
Werkzeug==2.0.3
python-dateutil==2.8.2
babel==2.9.1